@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --variant-dark: .dark &;
}

@theme inline {
  --font-inter: var(--font-inter);
}

* {
  @apply transition-colors duration-300 font-inter;
}

body {
  @apply bg-gray-200 dark:bg-gray-950;
}

.tiptap {
  @apply px-10 py-3 h-full min-w-full overflow-y-auto outline-none prose dark:prose-invert;
}

.tiptap p.is-editor-empty:first-child::before {
  @apply text-gray-500 dark:text-gray-600 italic;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
